# Outputs
outputs/*
!outputs/.gitkeep

# .env (API KEYS)
.env

# .venv (DEPENDENCIES)
.venv

# .adk temp files
.adk

# __pycache__
__pycache__

# Papers
papers/*

# web_ui logs
web_ui/inputs/*
web_ui/outputs/*
web_ui/outputs
web_ui/venv/*
web_ui_last_prompt.txt